<footer>
  <ul class="social-networks">
    <li>
      <a href="https://x.com/TopGsAgainstCS" target="_blank"><i class="bi bi-twitter-x"></i></a>
    </li>
    <li>
      <a href="https://t.me/TGARSonsol" target="_blank"><i class="fab fa-telegram"></i></a>
    </li>
  </ul>

  <p id="copyright">
    Copyright © Top Gs Against Rugs & Scammers <%= currentYear %>
  </p>

  <script src="/assets/js/scripts.js"></script>
</footer>
</body>
</html>