<%- include("partials/header.ejs") %>
    <div class="centered-container">
      <h1>Ryans Message To His Victims</h1>
      <audio id="myAudio" controls autoplay>
        <source src="/assets/audio/ryan.mp4" type="audio/mpeg" />
        <source src="/assets/audio/ryan.mp4" type="audio/ogg" />
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="hero">
      <img
        src="/assets/images/ryan1.jpg"
        alt="Hero Image"
        class="hero-image"
      />
      <div class="hero-text">
        <h1>
          Top Gs Against RYAN SPENCER Aka PHOUNG LE and THE SCHOOL OF GOOFS
        </h1>
        <p>
          This isnt just a MEME! This is a movement against the
          <strong>RYAN SPENCERS</strong> on <strong>SOL</strong> that say we
          can trust them! <strong>WE</strong> need to end this! He costs
          everyone in his school of GOOFs to lose money just to benefit him!
          He sits in a hotel lounge all day pretending he stays there and just
          asks people for SOL! so many have fell for his BS but people are
          waking up!
        </p>
      </div>
    </div>
  <section class="section">
            <h1>
        These Are His Verified Wallets! Yet His A Expert From Goldman Sachs!
        Yet He Has No Money!
      </h1>
      <br />
      <h1>
        Fell Free To Try Track His Wallets To See What His Upto! Im Intrigued
        As Im Not To Good With SolScan!
      </h1>
      <p>
        <strong>Phoung Le's Wallets:</strong>
        <br />
        3s9MuSNJycPUHxiwCR72iRN5ry96Pjt3UdjMEMoYcbcz
        <br />
        FdBiLPH5x6ZNoDYVjokBDjKiJ5J5bgxKBysaU3T6gtEd
        <br />
        6Z2tSXNkMTBymBPgiAdoM8izfLS8Ys3pxEzfgertvj7Y
        <br />
        AjD16HyejBbEm6a4ubmwPL84JFuX5mPizXxnwFhqmEoW
        <br />
        7ZiApmgw5TDhtAqhsHjzknzMLPWc5S3i1qag529XtiHZ
        <br />
        8qVrKGJDYZyLocXfNx1Ue2tSwqTAsSzgNtniNBBRGHGM
        <br />
        33WXWAtEnvbeLTyWdKHg1kQ67vMDKaqhWj6VbK4PjNDi
        <br />
        AGmNk4bNFCd3eUtGRw8MXxgp8NBFU3NRAvgpdaNM1tv3
        <br />
        GH5nq3gRE7uztyCfdeXLB5tmNc4CTn2xyDiWvBBw9rYd
        <br />
        <strong>This Wallet He Denies Is His But It Is His:</strong>
        <br />
        BmdfYWsdgxuoDWJTbubqyYRkbgzaChM5Tt71sWMG5UB3
      </p>
    </div>
  </div>
  </section>
  <section>
     <div class="container text-center">
    <h1>
      Im Not Saying All The Projects Were Ryans, However They Was All Doing
      Well Until He Got Involved!
    <div class="row">
      <div class="col">
        <h1>GOOFS</h1>
        <img src="/assets/images/goofs.png" alt="" class="charts" />
        <h2>GOOFS He Claimed He Has CTO'd</h2>
      </div>
      <div class="col">
        <h1>CLOODY</h1>
        <img src="/assets/images/cloody.png" alt="" class="charts" />
        <h2>CLOODY He Dumped Live On VC Also Accusing Dev Of Selling! <a href="https://solscan.io/account/92ZduvYTcrJFSg4XsjKSmUX8AuvRuQWffPxXeZjhBFxG"target="_blank" class="dev">92ZduvYTcrJFSg4XsjKSmUX8AuvRuQWffPxXeZjhBFxG</a> <br>Dev Still Holds 6% And Been Accumulating!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>GENIE</h1>
        <img src="/assets/images/genie.png" alt="" class="charts" />
        <h2>GENIE Was Booming Until Ryan Came Along!</h2>
      </div>
      <div class="col">
        <h1>KITSUNE</h1>
        <img src="/assets/images/kitsune.png" alt="" class="charts" />
        <h2>KITSUNE Rugged As Soon AS He Told His Students To Invest And Still Told Students To Buy As It Will Pump In A Week!</h2>
      </div>
      <div class="col">
        <h1>RIZZ</h1>
        <img src="/assets/images/rizz.png" alt="" class="charts" />
        <h2>RIZZ Was Another Rug!</h2>
      </div>
    </div>
  </div>
  </section>
  <%- include("partials/footer.ejs") %>