<%- include("partials/header.ejs") %>
<div>
    <h1 class="tokenomics">
     TOKENOMICS
    <br />
    100,000,000
    <h1 class="tokenomics">
      
    </h1>
          <h1 class="marketing">
              <strong>MW Wallet</strong>
              <br>
     FfHKUBAJSt73LxUgL5M6MxZJQU4nYNMonXgDaYgyY3Em
    </h1>
    <p>
      <strong>Mission</strong>
      <br>
      The Aim Is To Bring Awareness To This Community! 
      I Intend To Use The MW For DexScreener, Trending and Calls! No Intentions Of Rugging As I Feel Rugs Are For Mugs! This Is A Movement And The More Of Us The Better!
    </p>
  </div>
  <%- include("partials/footer.ejs") %>